Source: convert-x
Section: devel
Priority: optional
Maintainer: István Siroki <stevesiroki@gmail.com>
Build-Depends: debhelper (>=9), python3
Standards-Version: 3.9.7

Package: convert-x
Priority: optional
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, ffmpeg, lame, x264, libxvidcore4, python3-tk, python3-pil.imagetk
Description: Collection of GUI wrappers to convert files to different formats
 * conv2xvid: A GUI wrapper to convert from any format supported by ffmpeg to XviD
